{
    http_port 8080
    https_port 8000
    tailscale {
        ephemeral
    }
}

localhost {
    bind tailscale/caddytest
    tailscale_auth
    
    root * site/
    file_server

    // basic_auth {
    //     io $2a$14$LHDws/3savsk0Urp/jkkBeFJTTQRsHybLUmm5vrFXM9bUmqqMMBmK
    // }

}

